html, body {
    height: 100%;
    background-image: url(../images/abstract-art-decoration-1029624.jpg);
    background-position: right;
    background-size: cover;
}

* {
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-family: 'Ruslan Display', cursive;
}

header, footer {
    text-align: center;
    background-color: #d3c5fcb1;
    height: 5em;
}

.startbtn {
    position: fixed;
    top: 50%;
    left: 25%;
    font-size: 1.5em;
}

.timer {
    padding-top: .5em;
}

.ans:hover {
    border: solid 2px #555555dd;
    border-radius: 15px;
}

.hidden {
    visibility: hidden;
}

.restartbtn {
    font-size: 1.2em;
}